body {
  font-family: Roboto, sans-serif;
  max-width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  /* align-items: center; */
  padding: 0px;
  margin: 0px;
}

.hero,
.footer {
  background: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

/* Buttons */
.sign-up {
  color: #3882f6;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  margin: 16px 32px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  list-style: none;
}

/* Hero Section */

.hero {
  display: flex;
  justify-content: space-between;
  padding: 3rem 14rem 3rem;
  gap: 2rem;
}

.hero-body {
  color: #e5e7eb;
}

.hero-content img {
  max-width: 150px;
}

.hero-img {
  max-width: 150px;
}

/* Info Section */

.info {
  margin: 32px;
}

.info-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.info-container {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-flow: row wrap;
}

.card {
  max-width: 150px;
}

.card-img {
  width: 144px;
  height: 144px;
}

/* Quote Section */

.quote {
  background: #e5e7eb;
  padding: 46px;
}

.quote p {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
  width: 50%;
  margin: auto;
  text-align: left;
}

p .quote-signature {
  font-size: 18px;
  font-weight: 700;
  width: 50%;
  margin: auto;
  text-align: right;
}

/* CTA section */
.cta {
  background: #3882f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
  padding: 36px;
  border-radius: 5px;
  margin: 100px 200px;
  color: #f9faf8;
  flex-flow: row wrap;
}

.cta-text {
}
